<html>
<head>
<link rel="stylesheet" type="text/css" href="homecomponent.css">
</head>
<body>
<div class = "homeContainer">

  <div class = "bg">
    l
  </div>
  <div class = "getToKnow">
    Get to know your health plan and find ways to use your benefits.
  </div>

  <br />
  <hr />

  <div class="HAC">
      <div class="healthNews">
        <h5>Health News</h5>
        <p>Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. </p>
        <a href="">Read News ></a>
      </div>
      <div class="aboutUs">
          <h5>About Us</h5>
          <p>Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. </p>
          <a href="">Get to Know us ></a>
      </div>
      <div class="careers">
          <h5>Careers</h5>
          <p>Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. </p>
          <a href="">Explore Careers ></a>
      </div>
  </div>
  <div class="legalNotices">
    <h3>Legal Notices:</h3>
    <p>
        Lorem ipspum. Lorem ipspum. Lorem ipspum. Lorem ipspum. Lorem ipspum. Lorem ipspum. Lorem ipspum. Lorem ipspum. Lorem ipspum. <br />
        Lorem ipspum. Lorem ipspum. Lorem ipspum. Lorem ipspum. Lorem ipspum. Lorem ipspum. Lorem ipspum. Lorem ipspum. Lorem ipspum. 
    </p>
  </div>
    
  <div class = "left">
      <!-- <video width="320" height="240" controls>
          <source src="health_insurance_explained.mp4" type="video/mp4">
        </video> -->
  </div>

  <!-- <div class = "loginDiv">
    <b>Login to My Insurance</b>

    
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

      <h5 *ngIf="success">Your form is valid!</h5>

      <label for="uname">
        Username:
      </label>
        <input type="text" formControlName="uname" placeholder="Your Username...">
        <div *ngIf="failed" class="error">
          <p *ngIf="loginForm.controls.uname.errors.required">Username is required.</p>
        </div>

      <label for="pass">
        Password:
      </label>
        <input type="password" formControlName="pass" placeholder="Your password...">
        <div *ngIf="failed" class="error">
          <p *ngIf="loginForm.controls.pass.errors.required">Password is required.</p>
        </div>

      <input type="submit" value="Login" class="bLogIn">

    </form>

  </div> -->

</div>

<!-- <ul *ngIf="users">
  <li *ngFor="let user of users.data">
    <img [src]="user.avatar"/>
    <p>
      {{user.first_name}} {{user.last_name}}
    </p>
  </li>
</ul> -->
</body>
</html>